.container{
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
padding: 0 0 0 1rem;
}

@media screen and (max-width: 768px) {
.container{
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-align: center;
}
}